<div class="header-btn-lg d-flex align-items-center">
  <div class="widget-content-left me-2">
    <div class="widget-heading">{{ displayName$ | async }}</div>
    <div class="widget-subheading">{{ displaySubheading$ | async }}</div>
  </div>
  <div ngbDropdown placement="bottom-right">
    <button type="button" class="btn btn-link p-0" ngbDropdownToggle>
      <img width="42" src="./assets/images/avatars/1.jpg" alt="" class="rounded-circle">
    </button>
    <div ngbDropdownMenu class="dropdown-menu-sm">
      <div class="dropdown-header text-center">
        <img src="./assets/images/avatars/1.jpg" alt="Avatar" class="rounded-circle mb-2" width="60">
        <h6 class="mb-0">{{ displayName$ | async }}</h6>
        <small class="text-muted">{{ displaySubheading$ | async }}</small>
      </div>
      <div class="dropdown-divider"></div>
      <button type="button" class="dropdown-item text-danger" (click)="logout()">
        <i class="pe-7s-power me-2"></i>
        Logout
      </button>
    </div>
  </div>
</div>
